body {
background-color:beige;
} 
h1 {
	color:navy;
	text-decoration:underline;
}
h4{
	color:indigo;
	font-size:25pt;
}
em{
	background-color:powderblue;
	color:navy;
}
h3 em{
	background-color:thistle;
	color:purple;
}
.ena em{
	background-color:thistle;
	color:inherit;
}
.borL{
	border-width:2px;
	border-style:dotted;
	background-color:inherit;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	float:left;
	margin-left:150px;
	width:40%;
	height:820px;
	
}
.borR{
	border-width:2px;
	border-style:dotted;
	background-color:inherit;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	float:right;
	margin-right:150px;
	width:40%;
	height:820px;
}
table{
	margin-left:50%;
}
.bor{
	border-width:2px;
	border-style:dotted;
	border-color:white;
	background-image:url('forest.jpg');
	width:70%;
	margin-left:15%;
}
.bor2{
	border-width:2px;
	border-style:dotted;
	border-color:yellow;
	margin-top:50px;
	margin-bottom:50px;
	margin-left:35%;
}
.color{
	background-color:beige;
}